<section id="all-catalogue">
    <div class="container all-catalogue grid grid-col-6">
        {{#each products}}
            <div class="movie-card">
                <a href="/catalogue/{{this.id}}">                    
                    <img src = "/img/posters/{{this.src}}" alt = "{{this.alt}}">
                </a>
            </div>
        {{/each}}
    </div>        
</section>
