<section>
    <div id="form">
        <form id="fs-frm" name="loginForm" accept-charset="utf-8" actiion="/registration" method="POST"> 
            <fieldset id="fs-frm-inputs" class="form-control">

                <div class="form-control">
                    <div class="form-area">
                        <div id="form-top-message">
                            <h1>Sign In to Vudu</h1>
                        </div>

                        <div class="form-divs">
                            <input class="input input-size-2" type="text" name="emailAddress" id="email-address" placeholder="Email" value="{{loginForm.emailAddress}}">
                        </div>

                        <div class="form-divs">
                            <input class="input input-size-2" type="password" name="password" id="password" placeholder="Password" value="{{loginForm.password}}">
                        </div>
                        
                        <div class="error-fields" id="mNameErrorLabel">{{errorMessages.mEmailPasswordErrorLabel}}</div>
                        <div class="form-divs">
                            <div class='password-recover'><a href="">Forgot your Vudu Password?</a></div>
                        </div>

                        <div class="form-divs btns">
                            <input id="btn-submit" class="btn btn-secondary" type="submit" value="Sign In">
                            <a href= "/registration">
                                <input id="btn-new-account" class="btn btn-primary" type="" value="Create a new Vudu Account">
                            </a>
                        </div>
                        <div class="error-fields" id="mEmailPasswordErrorLabel">{{errorMessages.mFormErrors}}</div>
                    </div>
                </div>
                <input type="hidden" name="_subject" id="form-submit" value="Sign In Submission">
        </fieldset>
        </form>
    </div>        
</section>