<section>
    <div id="form">
        <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" actiion="/registration" method="POST"> 
            <fieldset id="fs-frm-inputs" class="form-control">
                <div>
                    <div id="form-top-message">
                        <h1>Sign In to Vudu</h1>
                    </div>

                    <div class="form-control">
                        <input class="input input-size-2" type="text" name="_replyto" id="email-address" placeholder="Email" required="">

                        <input class="input input-size-2" type="password" name="password" id="password" placeholder="Password" required="">
                        
                        <div class='password-recover'><a href="">Forgot your Vudu Password?</a></div>

                        <input id="btn-submit" class="btn btn-secondary" type="submit" value="Sign In">
                        <a href= "/registration">
                            <input id="btn-new-account" class="btn" type="" value="Create a new Vudu Account">
                        </a>
                    </div>
                </div>
                <input type="hidden" name="_subject" id="form-submit" value="Sign In Submission">
        </fieldset>
        </form>
    </div>        
</section>