/************* BASIC CONFIG *************/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid #f00 !important;*/
}

body
{
    background-color:#041c2c;
    color: white;
    line-height: 1.7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

h1
{
    margin-bottom: 32px;
}

h2,h3
{
    margin-bottom: 20px;
}

p
{
    margin-bottom: 16px;
}

img
{
    width:100%;
    max-width:100%;
}

hr
{
    height: 0.75px;
    border: 0;
    color: #033858;
    background-color: #033858;
    width: 100%;
}
/************* END BASIC CONFIG *************/

/************* GRIDS *************/
.grid
{
    display: grid;
}

.grid-col-2
{
    grid-template-columns: 1fr 1fr;
}

.grid-col-2-2
{
    grid-template-columns: 2fr 1fr;
}

.grid-col-2-3
{
    grid-template-columns: 1fr 2fr;
}

.grid-col-3
{
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-col-3-2
{
    grid-template-columns: 1fr 4fr 2fr;
}


.grid-col-4
{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-col-6
{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
/************* END GRIDS *************/

/************* BUTTONS *************/
.btn
{
    display: inline-block;
    text-align: center;
    border-radius: 0.5em;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    margin-top: 25px;
    margin-right: 10px;
}

.btn-primary
{
    background-color: none;
    border: 2px solid #02588b;
    color: white;
    width: 160px;
    font-size: 14px;
}

.btn-secondary
{
    background-color: #007bc4;
    border: 2px solid #007bc4;
    color:white;
    width: 180px;
    font-size: 18px;
}

.no-border
{
    border: none;
}

/************* END BUTTONS *************/


/************* TOPNAV *************/
#logo
{
     width: 20%;
     top: 50%;
     display: block;
     margin: auto;
     margin: 0;
     position: relative;
     left: 50%;
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%); 
}

#topnav
{
    max-width: 100%;
    margin: 0 auto;
    height: 60px;
    background-color:#0071b5;
}

.topnav ul
{
    top: 50%;
    display: block;
    margin: auto;
    margin: 0;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#topnav a 
{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 15px;
}

#topnav a:hover 
{
    text-decoration: underline;
    color: #00A8e1;
}
  
#topnav li
{
    display: inline-block;
    cursor: pointer;
}
/************* END TOPNAV *************/

/************* HERO SECTION /*************/
#hero-section
{  
    background-size: auto; 
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.hero-hide
{
    display: none;
}

.flexc 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container .image-container 
{
    margin: 1px;
    padding: 1px;
}

.carousel-container .image-container img 
{
    width: 1200wh;
    height: 500px;
}

.carousel-container .image-container div ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.carousel-container .image-container div ul li 
{
    display: inline-block;
    margin: 3px;
    color: grey;
    cursor: pointer;
}

.carousel-container .left-arrow, .carousel-container .right-arrow 
{
    cursor: pointer;
}

.carousel-container .left-arrow h1, .carousel-container .right-arrow h1 
{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 5px;
    padding: 5px;
}
/************* END HERO SECTION *************/


/************* CONTAINER MAIN SECTION  *************/
.container
{
    max-width: 100%;
    margin: 0 auto;
}

.movie-card
{
    display: inline-block;
    max-width: 150px;
    padding: 10px;
    margin-left: 10px;
}

.container-title h4
{
    display: flex;
    margin-left: 122px;
    margin-top: 10px;
}

.all-catalogue
{
    padding: 100px;
}

.banners
{
    margin: 10px auto;
    width: 80%;
}
/************* END CONTAINER MAIN SECTION  *************/


/************* MOVIE DETAILS PAGE  *************/
.movie-details
{    
    text-align: left;
    margin: 0px 100px;
    margin-top: 25px;
    width: 55%;
    float: left;
}

.backImg
{
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin: 0 auto;
    height: 500px;
}

.movie-details div
{
    margin: 10px 5px;
}

.movie-details h1
{
    margin: 0px;
}

.movie-details h3
{
    display: inline-block;
    margin: 0px;
    font-size: 14px;
}

.movie-details img
{
    padding: 10px;
    float: left;
}

.movie-details a
{
    text-decoration: none;
}

/************* END MOVIE DETAILS PAGE  *************/

/************* FOOTER  *************/
#download-badges
{
    width: 50%;
    height: auto;
    display: flex;
    float: left;
    margin-left: 75px;
}

#download-badges img
{
    padding: 20px;
}


#container-footer-menu 
{
    width: 60%;
    margin: 25px 0;
    padding: 20px;
}

#container-footer-menu div
{
    text-align: left;
    margin: 0 auto;
}

#container-footer-menu a
{
    text-decoration: none;
    display: block;
    font-size: 14px;
    color: #B0BEC5;
    padding: 5px;
}

#container-footer-menu a:hover
{
    color: #00A8e1
}

.container-social-media
{
    margin: 40px;
}

.social-media-logos
{
    margin: 0 auto;
}

.icon-wrapper 
{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.icon-wrapper i 
{
    align-items: center;
    color: white;
}

.container-logos img
{
    float: left;
    width: 30%;
    padding: 10px;
}

#footer-bottom-links
{    
    margin-left: 50px;
    display: flex;
    font-size: 12px;
} 

#footer-bottom-links a
{
    color: #00A0FF;
    text-decoration: none;
    margin: 5px;
}

#footer-bottom-links a:hover
{
    color: #0070D1;
}

#tiny
{
    padding: 0px 5px;
    color: #B0BEC5;
}

.footer-text
{
    margin-left: auto; 
    margin-right: 100px;
}
/************* END FOOTER  *************/

/***** CREATE ACCOUNT FORM *****/
#form
{
    background-color: white;
    width: 600px;
    height: auto;
    margin: 60px auto;
    flex-direction: column;
    position: relative;
}

.form-area
{
    width: 500px;
    margin: 0 auto;
}

#form-top-message
{
    font-size: 20px;
    text-align: left;
    padding-top: 15px;
    color: black;
}

.form-control 
{
    border-style: none;
}

.form-divs
{
    padding-top: 10px;
    display: flex;
}

.input
{
    height: 60px;
    border-style: solid;
    border-radius: 0.5em;
    border: 2px solid #dbdbdb;
    color: black;
    font-size: 16px;
    padding-left: 10px;
}

.file 
{
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.file-input label 
{
    display: block;
    position: relative;
    overflow: auto;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(40deg, #13539b, #007cc4e5);
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#srcImg-fileName, #backImg-fileName
{
    background: transparent;
    color: grey;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    width: 100%;
}

.required-fields
{
    color: grey;
    font-size: 16px;
}

::placeholder, .datalist
{
    font-weight: bold;
    color: grey;
    font-size: 16px;
    padding-left: 10px;
}

#last-name
{
    margin-left: 8px;
}

.input-size-1
{
    width: 50%;
}

.input-size-2
{
    width: 500px;
}

.error-fields
{
    font-size: 14px;
    margin-bottom: 5px;
    color: red;
    font-weight: bold;
    text-align: left;
}

.success-fields
{
    font-size: 14px;
    margin-bottom: 5px;
    color: blue;
    font-weight: bold;
    text-align: left;
}

#btn-submit 
{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
    height: 60px;
}

#btn-new-account
{
    background-color: white;
    border: 2px solid #007bc4;
    color:#007bc4;
    margin: 0 auto;
    width: 500px;
    height: 60px;
    margin-bottom: 10px;
    font-size: 18px;
}

.btns
{
    display: inline;
}

.show
{
    display: inline-block;
}

.hide
{
    visibility: hidden;
    display: none;
}

#new-member, #home-client
{
    width: 1000px;
    margin: 50px auto;
}

.password-recover 
{
    height: 40px;
    margin-bottom: 10px;
    text-align: left;
}

.password-recover a
{
    text-decoration: none;
    color: #007bc4;
}
/***** END CREATE ACCOUNT FORM *****/


/*************** TABLE ***************/
.table-products
{
    width: 80%;
    counter-reset: tableCount; 
    background: white;
    margin: 10px auto;
    text-align: center;
    padding: 2px;
}

.counterCell:before 
{              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}

.table-header th
{
    padding: 0 10px;
}

.table-products th
{
    background-color: #007cc4b2;
    font-size: 16px;
}

#table-products td
{
    padding: 0 10px;
}

#table-products tr
{
    font-size: 14px;
}

#table-products tr:nth-child(odd)
{
    background-color: rgb(183, 183, 183);
}


#table-products tr:nth-child(even)
{
    background-color: #e6e1e1;
}

#table-products tr:nth-child(even) > td
{
    color: rgba(12, 12, 12, 0.7);
}

#table-products tr:hover 
{
    background-color: #007cc4a3;
    color: white;
}

.edit-delete-button
{
    display:inline-block;
    text-decoration: none;
    color: inherit;
}

.img-manage
{
    width: 5%;
    
}
/*************** END OF TABLE ***************/

/*************** SEARCH ***************/
.search-container-area
{
    height: 150px;
    margin-top: 50px;
}

.search-container
{
    margin: 0 auto;
    width: 70%;
    display: -ms-flexbox;
    margin-bottom: 15px;
}

.search-field
{
    padding: 10px;
    outline: none;
}

.search-icon
{
    padding: 10px;
    color: white;
    min-width: 60px;
    text-align: center;
    background-color: dodgerblue;
    font-size: 20px;
    height: 40px;
}

.search-results
{
    text-align: left;
    margin: 10px auto;
    width: 30%;
}

.search-results div
{
    margin-left: 15px;
}

.search-results h3
{
    margin: 0px;
}

.search-results a
{
    color: #B0BEC5;
    text-decoration: none;
}

.search-results a:hover
{
    color: #00A8e1
}
/*************** END OF SEARCH ***************/

/*************** CART ***************/
#order-container
{
    margin: 50px auto;
    border: solid grey;
    border-width: 1px;
    width: 70%;
    text-align: left;
}

#order-details
{
    border-width: 1px;
}

#order-container > h2, h4
{
    margin-left: 25px;
}

.item-order
{
    color: white;
}

.cart-total
{
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 120px;
}

#btn-checkout
{
    margin-bottom: 20px;
    margin-top: 0px;
    margin-right: 0px;
    height: 30px;
}
/*************** END OF CART ***************/

/*************** USER DASHBOARD ***************/
.order-container
{
    width: 75%;
    border: solid rgba(209, 203, 203, 0.904) 1px;
    text-align: left;
    margin: 15px auto;
    font-size: 14px;
    height: auto;
}

.order-item
{
    margin: 0px 30px;
    padding: 1px;
    height: inherit;
}

.key
{
    font-weight: bold;
}

.order-img
{
    position: relative;
    margin: 2px 10px;
}

.order-img-src
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
}

.order-total
{
    height: inherit;
    position:relative;
    font-size: 22px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto; 
    margin-right: 35%;
}

.sub-total
{
    width: 100px;
    position: absolute;
    bottom: 10px;
    margin-bottom: inherit;
}
/*************** END OF USER DASHBOARD ***************/

/*************** MODAL***************/
.modal
{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);    
    height:100%;
    width:100%;
    align-items: center; 
    z-index:1;
    background-color: rgba(20, 20, 20, 0.8);
    grid-template-columns: 1f;
    bottom: 0px;
}   

.modal-container .close-modal
{
    position: absolute; 
    right: 0;
    width: 28px;
    height: 28px;
    border: 0;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    transition: background .2s;
}

.movie-preview-full-no-margin iframe 
{
    width: 100%;
    height: 100vh;
    margin: 0px 0px;
}

.show
{
    display: block;
}

.hide
{
    display: none;
}
/*************** END MODAL***************/

/************* MEDIA QUERIES  *************/
/*Small devices*/
@media (max-width: 576px)
{    
    /*** BASIC CONFIG ***/
    body
    {
        flex-direction: row;
        width: auto;
        float: none;
        height: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    img
    {
        max-width: 80%;
    }

    h1
    {
        margin-bottom: 14px;
    }
    
    h2, h3
    {
        margin-bottom: 12px;
    }
    
    p
    {
        margin-bottom: 8px;
        font-size: 12px;
        padding-top:10%;
    }

    h2
    {
        font-size: 16px;
    }

    h4
    {
        font-size: 12px;
    }
    
    .btn
    {
        font-size: 12px;
    }

    /*** TOPNAV  ***/
    #topnav
    {
        height: auto;
    }

    #logo
    {
        display: flex;
        width: 100px;
        flex-shrink: 0;
    }
    /*** END TOPNAV  ***/


    /*** HERO SECTION ***/
    #hero-section img
    {  
        height: 100%;
        max-width: 100%;
    }

    #hero-section li
    {
        display: inline;
        font-size: 12px;
    }
    /*** END HERO SECTION ***/

    /*** MAIN SECTIONS ***/
    .main-sections h4
    {
        margin: auto;
    }
    
    .all-catalogue
    {
        grid-template-columns: 1fr;
    }
    
    .movie-card 
    {
        margin: 0 auto;
        max-width: 80%;
    }

    .movie-details 
    {
        display: block;
        grid-template-columns: 1fr;
        margin: 0px 10px;
    }
    /*** END MAIN SECTION ***/

    /*** FORM ***/
    #form
    {
        max-width: 100%;
        margin: 60px auto;
    }
    
    .form-area
    {
        width: 90%;
        margin: 0 auto;
    }

    #form img
    {
        margin: 10px auto;
        max-width: 100%;
    }

    .input, .form-area, .password-recover 
    {
        margin: 0 auto;
    }

    .input-size-1
    {
        width: 42%;
    }

    .input-size-2 
    {
        width: 90%;
    }

    #form-top-message h1
    {
        font-size: 16px;
    }

    #btn-submit, #btn-new-account
    {
        width: 90%;
        margin: 10px auto;
    }
    /*** END FORM ***/


    /*** FOOTER MENU ***/
    #download-badges
    {
        display: inline-block;
        max-width: fit-content;
    }

    #container-footer-menu 
    {
        display: block;
        grid-template-columns: 1fr;
    }
    
    #container-footer-menu div 
    {
        margin-left: 0;
    }
    /*** END FOOTER MENU ***/
}

/*Medium devices*/
@media (min-width: 576px) and (max-width: 992px)
{    
    /*** BASIC CONFIG ***/
    body
    {
        flex-direction: row;
        width: auto;
        float: none;
        height: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    img
    {
        max-width: 80%;
    }

    h1
    {
        margin-bottom: 14px;
        font-size: 10vw;
    }
    
    h2, h3
    {
        margin-bottom: 12px;
    }
    
    p
    {
        margin-bottom: 8px;
        font-size: 14px;
        padding-top: 10%;
    }

    h2
    {
        font-size: 18px;
    }

    h4
    {
        font-size: 14px;
    }
    
    .btn
    {
        font-size: 14px;
    }

    /*** TOPNAV  ***/
    #topnav
    {
        height: auto;
    }

    #logo
    {
        display: flex;
        width: 100px;
        flex-shrink: 0;
    }
    /*** END TOPNAV  ***/


    /*** HERO SECTION ***/
    #hero-section img
    {  
        height: 100%;
        max-width: 100%;
    }

    #hero-section li
    {
        display: inline;
        font-size: 12px;
    }
    /*** END HERO SECTION ***/

    /*** MAIN SECTIONS ***/
    .main-sections h4
    {
        margin: auto;
    }
    
    .all-catalogue
    {
        grid-template-columns: 1fr;
    }
    
    .movie-card 
    {
        margin: 0 auto;
        max-width: 80%;
    }

    .movie-details 
    {
        display: block;
        margin: 0px 10px;
    }
    /*** END MAIN SECTION ***/

    /*** FORM ***/
    #form
    {
        max-width: 100%;
        margin: 60px auto;
    }
    
    .form-area
    {
        width: 90%;
        margin: 0 auto;
    }

    #form img
    {
        margin: 10px auto;
        max-width: 100%;
    }

    .input, .form-area, .password-recover 
    {
        margin: 0 auto;
    }

    .input-size-1
    {
        width: 42%;
    }

    .input-size-2
    {
        width: 90%;
    }

    #form-top-message h1
    {
        font-size: 16px;
    }

    #btn-submit, #btn-new-account
    {
        width: 90%;
        margin: 10px auto;
    }
    /*** END FORM ***/

    /*** FOOTER MENU ***/
    #download-badges
    {
        display: inline-block;
    }

    #container-footer-menu 
    {
        display: block;
        grid-template-columns: 1fr;
    }
    
    #container-footer-menu div 
    {
        margin-left: 0;
    }
    /*** END FOOTER MENU ***/
}
/************* END MEDIA QUERIES  *************/