<section id="find-prodicts">
    <div class="container all-catalogue grid grid-col-6">
        {{#each products}}
            <div class="movie-card">
                <a href="/catalogue/catalogue/{{id}}">                    
                    <img src = "/img/posters/{{srcImg}}" alt = "{{alt}}">
                </a>
            </div>
        {{/each}}
    </div>        
</section>
